.form{
    display: grid
}
.label {
    font-size: 1.2rem;
    margin-bottom: .2rem;
    
}
.input {
    font-size: 1.6rem;
    padding: .5rem 2rem;
    line-height: 2.8rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: solid 1px #ddd;
    margin-bottom: 1rem;
}

.button{
    background-color: rgba(0,0,0,.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,.75);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
    -webkit-transition: background-color 250ms;
    -moz-transition: background-color 250ms;
    -ms-transition: background-color 250ms;
    -o-transition: background-color 250ms;
}


.button:hover {
    background-color: rgba(0,0,0,0.85);
}
@media(min-width:786px){
    .form{
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
        
    }
    .input{
        margin-bottom: 0;
    }

}